/********************************************************************************
 * Copyright (c) 2025 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Apache License Version 2.0 which is available at
 * https://www.apache.org/licenses/LICENSE-2.0
 *
 * SPDX-License-Identifier: Apache-2.0
 ********************************************************************************/
{% import "macros" as macros %}
#include "{{ns.name}}.h"
#include "score/mw/com/impl/rust/bridge_macros.h"

{% for interf in ns.interfaces %}
BEGIN_EXPORT_MW_COM_INTERFACE({{ns.name}}_{{interf.name}}_interface, ::{{ns.name}}::{{interf.name}}Proxy, ::{{ns.name}}::{{interf.name}}Skeleton)
{% for ev in interf.events %}
EXPORT_MW_COM_EVENT({{ns.name}}_{{interf.name}}_interface, ::{{ns.name}}::{{ macros.to_cpp_type(ev.datatype) }}, {{ ev.name }})
{% endfor %}
END_EXPORT_MW_COM_INTERFACE()

{% endfor %}
{% for en in ns.enumerations %}
EXPORT_MW_COM_TYPE({{ ns.name }}_{{ en.name }}_type, ::{{ ns.name }}::{{ en.name }})
{% endfor %}
{% for str in ns.structs %}
EXPORT_MW_COM_TYPE({{ ns.name }}_{{ str.name }}_type, ::{{ ns.name }}::{{ str.name }})
{% endfor %}
